[submodule ".vim/pack/wecorre/start/syntastic"]
	path = .vim/pack/wecorre/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/wecorre/start/rust.vim"]
	path = .vim/pack/wecorre/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
