[submodule ".vim/pack/wecorre/start/rust.vim"]
	path = .vim/pack/wecorre/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/wecorre/start/vim-gutentags"]
	path = .vim/pack/wecorre/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/wecorre/start/vim-gitgutter"]
	path = .vim/pack/wecorre/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/wecorre/start/ale"]
	path = .vim/pack/wecorre/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/wecorre/opt/ayu-theme"]
	path = .vim/pack/wecorre/opt/ayu-theme
	url = https://github.com/ayu-theme/ayu-vim.git
