[submodule ".vim/pack/wecorre/start/rust.vim"]
	path = .vim/pack/syntax/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/wecorre/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/wecorre/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/wecorre/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/wecorre/opt/ayu-theme"]
	path = .vim/pack/themes/opt/ayu-theme
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/themes/start/vim-airline-themes"]
	path = .vim/pack/themes/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
